[user]
    name = Valentino Amato
    email = 105114984+valentinoamato@users.noreply.github.com
[core]
    editor = nvim -f
[merge]
    tool = nvimdiff
[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
